In [1]:
import pandas as pd

In [2]:
routing = pd.read_excel("Timetable.xlsx")

In [3]:
semester = '5'
stream = ' CSE '
section = 'E1'

batch = semester + stream +section

In [4]:
def fil_nan(x):
    return 'Filled' if pd.isna(x) else x


def load_and_preprocess(file, batch):
    TimeTable = pd.read_excel(file)
    # Get the data
    df = TimeTable[['Day', 'Timmings', batch]]
    df = df.copy()
    # Remove gap between days
    df = df.dropna(subset=['Timmings'])

    # Fixing indices
    df.reset_index(drop=True, inplace=True)

    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

    for d in days:
        get_index = df[df['Day']== d].index[0]
        df.loc[get_index : get_index+7, 'Day'] = d

    df['5 CSE E1'] = df['5 CSE E1'].apply(fil_nan)
    
    for i in df.loc[df['5 CSE E1'] == 'Filled'].index:
        print(df['5 CSE E1'][i] ,": ", df['5 CSE E1'][i-1], "\n")
        df.at[i, '5 CSE E1'] = df['5 CSE E1'][i-1]


    
    df.to_csv("data.csv")

    return

IndentationError: expected an indented block after 'for' statement on line 24 (3975445880.py, line 25)

In [40]:
load_and_preprocess('Timetable.xlsx', batch=batch)

In [5]:
df = routing[['Day', 'Timmings', batch]]

In [6]:
df = df.copy()

In [7]:
df = df.dropna(subset=['Timmings'])

In [8]:
df.reset_index(drop=True, inplace=True)

In [9]:
df1 = pd.read_csv('data_final.csv')

In [10]:
df1 = df1.drop(columns=['Unnamed: 0'])

In [11]:
df1.head(10)

       Day      Timmings                                           5 CSE E1
0   Monday   08:50-09:50  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MA...
1   Monday   09:50-10:50  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MA...
2   Monday   10:50-11:50                      BCSE-514 MS.ANUPAM BONKRA 207
3   Monday   11:50-12:45                                        Lunch Break
4   Monday  12:45-01-:40                  BSCE-513 MS.AKANKSHA BHARDWAJ 208
5   Monday   01:40-02:35       BPD-I QUANTITATIVE APTITUDE-RAHUL KAMBOJ 208
6   Monday   02:35-03:30  BCSE-542 DR.ROHINI 208 / BCSE-543 MR.S.P. SING...
7   Monday   03:30-04:20  BCSE-532 MS.ARPNEEK KAUR 207 / BCSE-533 DR.RAJ...
8  Tuesday   08:50-09:50                    BCSE-514L\nMS.ANUPAM BONKRA 236
9  Tuesday   09:50-10:50                    BCSE-514L\nMS.ANUPAM BONKRA 236

In [12]:
df.head(10)

       Day      Timmings                                           5 CSE E1
0   Monday   08:50-09:50  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MA...
1      NaN   09:50-10:50                                                NaN
2      NaN   10:50-11:50                      BCSE-514 MS.ANUPAM BONKRA 207
3      NaN   11:50-12:45                                        Lunch Break
4      NaN  12:45-01-:40                  BSCE-513 MS.AKANKSHA BHARDWAJ 208
5      NaN   01:40-02:35       BPD-I QUANTITATIVE APTITUDE-RAHUL KAMBOJ 208
6      NaN   02:35-03:30  BCSE-542 DR.ROHINI 208 / BCSE-543 MR.S.P. SING...
7      NaN   03:30-04:20  BCSE-532 MS.ARPNEEK KAUR 207 / BCSE-533 DR.RAJ...
8  Tuesday   08:50-09:50                    BCSE-514L\nMS.ANUPAM BONKRA 236
9      NaN   09:50-10:50                                                NaN

In [13]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for d in days:
    get_index = df[df['Day']== d].index[0]
    print(d, ": ",get_index)
    # df.loc[get_index : get_index+7, 'Day'] = routing.loc[2:9, 'Day'].fillna(d)
    df.loc[get_index : get_index+7, 'Day'] = d

Monday :  0
Tuesday :  8
Wednesday :  16
Thursday :  24
Friday :  32

In [14]:
dayWise = df[df['Day']=='Monday']
dayWise

for time in dayWise['Timmings']:
    if time == '08:50-09:50':
        print("yehaa..! Got it!!")
    else:
        ("Better luck next time.")

yehaa..! Got it!!

In [15]:
def fil_nan(x):
    return 'Filled' if pd.isna(x) else x #no

In [16]:
df['5 CSE E1'] = df['5 CSE E1'].apply(fil_nan) #No

In [17]:
df

          Day      Timmings                                           5 CSE E1
0      Monday   08:50-09:50  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MA...
1      Monday   09:50-10:50                                             Filled
2      Monday   10:50-11:50                      BCSE-514 MS.ANUPAM BONKRA 207
3      Monday   11:50-12:45                                        Lunch Break
4      Monday  12:45-01-:40                  BSCE-513 MS.AKANKSHA BHARDWAJ 208
5      Monday   01:40-02:35       BPD-I QUANTITATIVE APTITUDE-RAHUL KAMBOJ 208
6      Monday   02:35-03:30  BCSE-542 DR.ROHINI 208 / BCSE-543 MR.S.P. SING...
7      Monday   03:30-04:20  BCSE-532 MS.ARPNEEK KAUR 207 / BCSE-533 DR.RAJ...
8     Tuesday   08:50-09:50                    BCSE-514L\nMS.ANUPAM BONKRA 236
9     Tuesday   09:50-10:50                                             Filled
10    Tuesday   10:50-11:50                          BHUM-004 DR.KAMALJEET 118
11    Tuesday   11:50-12:45                                        Lunch Break
12    Tuesday  12:45-01-:40                  BSCE-513 MS.AKANKSHA BHARDWAJ 207
13    Tuesday   01:40-02:35           BPD-I LOGICAL REASONING-RAHUL KAMBOJ 207
14    Tuesday   02:35-03:30                       BHUM-117 DR.POOJA DHAWAN 207
15    Tuesday   03:30-04:20  BCSE-532 MS.ARPNEEK KAUR 207 / BCSE-533 DR.RAJ...
16  Wednesday   08:50-09:50                          BHUM-004 DR.KAMALJEET 118
17  Wednesday   09:50-10:50                  BSCE-513 MS.AKANKSHA BHARDWAJ 118
18  Wednesday   10:50-11:50  BCSE-542 DR.ROHINI 160 / BCSE-543 MR.S.P. SING...
19  Wednesday   11:50-12:45                                        Lunch Break
20  Wednesday  12:45-01-:40                INFOSYS SPRINGBOARD\nMS.NIKITA  247
21  Wednesday   01:40-02:35                                             Filled
22  Wednesday   02:35-03:30         BPD-I VERBAL /SOFT SKILLS -KIRTI MEHTA 253
23  Wednesday   03:30-04:20                                      LIBRARY VISIT
24   Thursday   08:50-09:50                      BCSE-514 MS.ANUPAM BONKRA 207
25   Thursday   09:50-10:50                BCSE-513L\nMS.AKANKSHA BHARDWAJ 247
26   Thursday   10:50-11:50                                             Filled
27   Thursday   11:50-12:45                                        Lunch Break
28   Thursday  12:45-01-:40  BCSE-532L MS.ARPNEEK KAUR 147/ BCSE-533L DR.RA...
29   Thursday   01:40-02:35                                             Filled
30   Thursday   02:35-03:30                       BHUM-117 DR.POOJA DHAWAN 119
31   Thursday   03:30-04:20                   BPD-I TECHNICAL NAVJOT SINGH 119
32     Friday   08:50-09:50  IIOT-5 MS. HEENA DHIMAN  IIOT LAB\n/ PR-I   DR...
33     Friday   09:50-10:50                                             Filled
34     Friday   10:50-11:50                      BCSE-514 MS.ANUPAM BONKRA 254
35     Friday   11:50-12:45                                        Lunch Break
36     Friday  12:45-01-:40                    BPD-I TECHNICAL -AOOPA ARYA 207
37     Friday   01:40-02:35                          BHUM-004 DR.KAMALJEET 207
38     Friday   02:35-03:30  BCSE-542 DR.ROHINI 167 / BCSE-543 MR.S.P. SING...
39     Friday   03:30-04:20  BCSE-532 MS.ARPNEEK KAUR 167 / BCSE-533 DR.RAJ...

In [18]:
df.loc[df['5 CSE E1'] == 'Filled'].index

Index([1, 9, 21, 26, 29, 33], dtype='int64')

In [19]:
for i in df.loc[df['5 CSE E1'] == 'Filled'].index:
    print(df['5 CSE E1'][i] ,": ", df['5 CSE E1'][i-1], "\n")
    df.at[i, '5 CSE E1'] = df['5 CSE E1'][i-1]

Filled :  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MANI GOYAL  245

Filled :  BCSE-514L
MS.ANUPAM BONKRA 236

Filled :  INFOSYS SPRINGBOARD
MS.NIKITA  247

Filled :  BCSE-513L
MS.AKANKSHA BHARDWAJ 247

Filled :  BCSE-532L MS.ARPNEEK KAUR 147/ BCSE-533L DR.RAJEEV GUPTA 259

Filled :  IIOT-5 MS. HEENA DHIMAN  IIOT LAB
/ PR-I   DR.ROHINI    246

In [20]:
newdf = df[df['Day'] == 'Friday']

In [31]:
b = newdf['Timmings'][32]

In [46]:
b

'08:50-09:50'

In [47]:
for i in range(5):
    print(b[i], end='')

08:50

In [21]:
df

          Day      Timmings                                           5 CSE E1
0      Monday   08:50-09:50  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MA...
1      Monday   09:50-10:50  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MA...
2      Monday   10:50-11:50                      BCSE-514 MS.ANUPAM BONKRA 207
3      Monday   11:50-12:45                                        Lunch Break
4      Monday  12:45-01-:40                  BSCE-513 MS.AKANKSHA BHARDWAJ 208
5      Monday   01:40-02:35       BPD-I QUANTITATIVE APTITUDE-RAHUL KAMBOJ 208
6      Monday   02:35-03:30  BCSE-542 DR.ROHINI 208 / BCSE-543 MR.S.P. SING...
7      Monday   03:30-04:20  BCSE-532 MS.ARPNEEK KAUR 207 / BCSE-533 DR.RAJ...
8     Tuesday   08:50-09:50                    BCSE-514L\nMS.ANUPAM BONKRA 236
9     Tuesday   09:50-10:50                    BCSE-514L\nMS.ANUPAM BONKRA 236
10    Tuesday   10:50-11:50                          BHUM-004 DR.KAMALJEET 118
11    Tuesday   11:50-12:45                                        Lunch Break
12    Tuesday  12:45-01-:40                  BSCE-513 MS.AKANKSHA BHARDWAJ 207
13    Tuesday   01:40-02:35           BPD-I LOGICAL REASONING-RAHUL KAMBOJ 207
14    Tuesday   02:35-03:30                       BHUM-117 DR.POOJA DHAWAN 207
15    Tuesday   03:30-04:20  BCSE-532 MS.ARPNEEK KAUR 207 / BCSE-533 DR.RAJ...
16  Wednesday   08:50-09:50                          BHUM-004 DR.KAMALJEET 118
17  Wednesday   09:50-10:50                  BSCE-513 MS.AKANKSHA BHARDWAJ 118
18  Wednesday   10:50-11:50  BCSE-542 DR.ROHINI 160 / BCSE-543 MR.S.P. SING...
19  Wednesday   11:50-12:45                                        Lunch Break
20  Wednesday  12:45-01-:40                INFOSYS SPRINGBOARD\nMS.NIKITA  247
21  Wednesday   01:40-02:35                INFOSYS SPRINGBOARD\nMS.NIKITA  247
22  Wednesday   02:35-03:30         BPD-I VERBAL /SOFT SKILLS -KIRTI MEHTA 253
23  Wednesday   03:30-04:20                                      LIBRARY VISIT
24   Thursday   08:50-09:50                      BCSE-514 MS.ANUPAM BONKRA 207
25   Thursday   09:50-10:50                BCSE-513L\nMS.AKANKSHA BHARDWAJ 247
26   Thursday   10:50-11:50                BCSE-513L\nMS.AKANKSHA BHARDWAJ 247
27   Thursday   11:50-12:45                                        Lunch Break
28   Thursday  12:45-01-:40  BCSE-532L MS.ARPNEEK KAUR 147/ BCSE-533L DR.RA...
29   Thursday   01:40-02:35  BCSE-532L MS.ARPNEEK KAUR 147/ BCSE-533L DR.RA...
30   Thursday   02:35-03:30                       BHUM-117 DR.POOJA DHAWAN 119
31   Thursday   03:30-04:20                   BPD-I TECHNICAL NAVJOT SINGH 119
32     Friday   08:50-09:50  IIOT-5 MS. HEENA DHIMAN  IIOT LAB\n/ PR-I   DR...
33     Friday   09:50-10:50  IIOT-5 MS. HEENA DHIMAN  IIOT LAB\n/ PR-I   DR...
34     Friday   10:50-11:50                      BCSE-514 MS.ANUPAM BONKRA 254
35     Friday   11:50-12:45                                        Lunch Break
36     Friday  12:45-01-:40                    BPD-I TECHNICAL -AOOPA ARYA 207
37     Friday   01:40-02:35                          BHUM-004 DR.KAMALJEET 207
38     Friday   02:35-03:30  BCSE-542 DR.ROHINI 167 / BCSE-543 MR.S.P. SING...
39     Friday   03:30-04:20  BCSE-532 MS.ARPNEEK KAUR 167 / BCSE-533 DR.RAJ...

In [166]:
newdf[newdf['Timmings']=="08:50-09:50"]['5 CSE E1'][0]

'IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MANI GOYAL  245 '

In [89]:
import pandas as pd

df1 = pd.read_csv('data_final.csv')

In [90]:
df1 = df1.drop(columns=['Unnamed: 0'])

In [98]:
def AmPm(time):
    hr, mnt = map(int, time.split(':'))

    if hr ==8 or hr == 9 or hr == 10 or hr == 11:
        return f"{hr}:{mnt:02d} AM"
    
    elif hr == 12:
        return f"{hr}:{mnt:02d} PM"
        
    else:
        return f"{hr}:{mnt:02d} PM"

In [97]:
print(AmPm('12:20'))

12:20 PM

In [99]:
df1['Timmings'] = df1['Timmings'].str[:5].apply(AmPm)

In [100]:
df1

          Day  Timmings                                           5 CSE E1
0      Monday   8:50 AM  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MA...
1      Monday   9:50 AM  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MA...
2      Monday  10:50 AM                      BCSE-514 MS.ANUPAM BONKRA 207
3      Monday  11:50 AM                                        Lunch Break
4      Monday  12:45 PM                  BSCE-513 MS.AKANKSHA BHARDWAJ 208
5      Monday   1:40 PM       BPD-I QUANTITATIVE APTITUDE-RAHUL KAMBOJ 208
6      Monday   2:35 PM  BCSE-542 DR.ROHINI 208 / BCSE-543 MR.S.P. SING...
7      Monday   3:30 PM  BCSE-532 MS.ARPNEEK KAUR 207 / BCSE-533 DR.RAJ...
8     Tuesday   8:50 AM                    BCSE-514L\nMS.ANUPAM BONKRA 236
9     Tuesday   9:50 AM                    BCSE-514L\nMS.ANUPAM BONKRA 236
10    Tuesday  10:50 AM                          BHUM-004 DR.KAMALJEET 118
11    Tuesday  11:50 AM                                        Lunch Break
12    Tuesday  12:45 PM                  BSCE-513 MS.AKANKSHA BHARDWAJ 207
13    Tuesday   1:40 PM           BPD-I LOGICAL REASONING-RAHUL KAMBOJ 207
14    Tuesday   2:35 PM                       BHUM-117 DR.POOJA DHAWAN 207
15    Tuesday   3:30 PM  BCSE-532 MS.ARPNEEK KAUR 207 / BCSE-533 DR.RAJ...
16  Wednesday   8:50 AM                          BHUM-004 DR.KAMALJEET 118
17  Wednesday   9:50 AM                  BSCE-513 MS.AKANKSHA BHARDWAJ 118
18  Wednesday  10:50 AM  BCSE-542 DR.ROHINI 160 / BCSE-543 MR.S.P. SING...
19  Wednesday  11:50 AM                                        Lunch Break
20  Wednesday  12:45 PM                INFOSYS SPRINGBOARD\nMS.NIKITA  247
21  Wednesday   1:40 PM                INFOSYS SPRINGBOARD\nMS.NIKITA  247
22  Wednesday   2:35 PM         BPD-I VERBAL /SOFT SKILLS -KIRTI MEHTA 253
23  Wednesday   3:30 PM                                      LIBRARY VISIT
24   Thursday   8:50 AM                      BCSE-514 MS.ANUPAM BONKRA 207
25   Thursday   9:50 AM                BCSE-513L\nMS.AKANKSHA BHARDWAJ 247
26   Thursday  10:50 AM                BCSE-513L\nMS.AKANKSHA BHARDWAJ 247
27   Thursday  11:50 AM                                        Lunch Break
28   Thursday  12:45 PM  BCSE-532L MS.ARPNEEK KAUR 147/ BCSE-533L DR.RA...
29   Thursday   1:40 PM  BCSE-532L MS.ARPNEEK KAUR 147/ BCSE-533L DR.RA...
30   Thursday   2:35 PM                       BHUM-117 DR.POOJA DHAWAN 119
31   Thursday   3:30 PM                   BPD-I TECHNICAL NAVJOT SINGH 119
32     Friday   8:50 AM  IIOT-5 MS. HEENA DHIMAN  IIOT LAB\n/ PR-I   DR...
33     Friday   9:50 AM  IIOT-5 MS. HEENA DHIMAN  IIOT LAB\n/ PR-I   DR...
34     Friday  10:50 AM                      BCSE-514 MS.ANUPAM BONKRA 254
35     Friday  11:50 AM                                        Lunch Break
36     Friday  12:45 PM                    BPD-I TECHNICAL -AOOPA ARYA 207
37     Friday   1:40 PM                          BHUM-004 DR.KAMALJEET 207
38     Friday   2:35 PM  BCSE-542 DR.ROHINI 167 / BCSE-543 MR.S.P. SING...
39     Friday   3:30 PM  BCSE-532 MS.ARPNEEK KAUR 167 / BCSE-533 DR.RAJ...

In [81]:
time= [] 
for t in df1['Timmings']:
    time.append(t)

In [83]:
len(time)

40

In [82]:
for i in range(5):
    print(time[0][i], end='')

08:50

In [56]:
new_df = df1[df1['Day']=='Monday']

In [57]:
new_df

      Day      Timmings                                           5 CSE E1
0  Monday   08:50-09:50  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MA...
1  Monday   09:50-10:50  IIOT-5 MS. HEENA DHIMAN IIOT LAB / PR-I DR. MA...
2  Monday   10:50-11:50                      BCSE-514 MS.ANUPAM BONKRA 207
3  Monday   11:50-12:45                                        Lunch Break
4  Monday  12:45-01-:40                  BSCE-513 MS.AKANKSHA BHARDWAJ 208
5  Monday   01:40-02:35       BPD-I QUANTITATIVE APTITUDE-RAHUL KAMBOJ 208
6  Monday   02:35-03:30  BCSE-542 DR.ROHINI 208 / BCSE-543 MR.S.P. SING...
7  Monday   03:30-04:20  BCSE-532 MS.ARPNEEK KAUR 207 / BCSE-533 DR.RAJ...

In [70]:
# timmes = []
# timmings = new_df['Timmings']
# for time in timmings:
#     timmes.append(time)
#     for i in len(timmes):
#         print(timmes[i])

In [71]:
timmes

['08:50-09:50',
 '09:50-10:50',
 '10:50-11:50',
 '11:50-12:45',
 '12:45-01-:40',
 '01:40-02:35',
 '02:35-03:30',
 '03:30-04:20']

In [69]:
# timmings

# for tm in range(len(timmings)):
#     print(tm)
#     for i in timmings[tm]:
#         tme = []
#         tme.aapend(i)
#         print(tmme)
#         # timmes.append(timmings[tm][i], end='')

0

AttributeError: 'list' object has no attribute 'aapend'

In [59]:

# for time in timmings:
#     for t in range(5):
        
#     timmes.append(time)

In [ ]:
import datetime

while True:
    Today_num = datetime.date.today().weekday()
    days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    
    today = days[Today_num]
    time = datetime.datetime.now()strftime("%I:%M %p")
    new_df = df1[df1['Day']== today]

In [167]:
import datetime

# Get today's date
today = datetime.date.today()
print(today)

# Get the day of the week as an integer (0 = Monday, 6 = Sunday)
day_number = today.weekday()
print(day_number)

# Convert the integer to a day name
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
day_name = days[day_number]
print(day_name)

2024-07-19
4
Friday

In [58]:
import datetime

now = datetime.datetime.now().strftime("%I:%M %p")

print(now)

08:43 PM